# needed
env/
.env
.DS_Store
__pycache__

# libs
mteb/

# results
results/
noisy_results/
calibration/
modal_test/

# data
spec_articles
lie_articles
articles/
data/
cos_scores_batch_0.txt
quality_scores_batch_0.txt
gpt2_quality_scores_batch_0.txt
nvidia/

# models
models/
cache/